<style>
.blog_list tr td {
  vertical-align: middle;
}
</style>

<% title "Users" %>

<div class="controls">
 
  <%= link_to "export", admin_users_path(format: 'csv', user_type: "blog_user"), class: 'button', title: 'export to csv' %>
 
</div>

<div class="pagination-info">
  <%= page_entries_info @users %>
</div>

<%= render 'shared/per_page' %>

<%= will_paginate @users, previous_label: '&lt; previous',
      next_label: 'next &gt;' %>


<table class="index-list blog_list">
  <tr>
    <th><%= sortable_header("username", "Name", true) %></th>
    <th><%= sortable_header("role_id", "Role") %></th>
    <th><%= sortable_header("created_at", "Sign up") %></th>
    <th><%= sortable_header("last_sign_in_at", "Last Login") %></th>
    <th><%= sortable_header("status_id", "Status") %></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr<%= cycle(""," class='alt'") %>>
  <td>
    <%= link_to user_avatar_small(user),  edit_admin_user_path(user) %>
    <%= link_to user.full_name, edit_admin_user_path(user) %>
  </td>
  <td><%= user.role_s %></td>
  <td><%= l user.created_at, format: :short %></td>
  <td><%= last_signin user %></td>
  <td><%= user.status_s %></td>
  <td>
    <span class="actions">
    <%= link_to 'edit', edit_admin_user_path(user) %> |
    <%= link_to 'delete', confirm_destroy_admin_user_path(user) %></span>
  </td>
  </tr>
  <% end %>
</table>