<%
title @scholarship.name
meta_description @scholarship.meta
%>

<% unless @scholarship.voting? %>

  <% if @page.one_column? %>
    <% content_for :body_class do %> class="centered suggest-ask"<% end %>
    <h1><%= @scholarship.name %></h1>
  <% else %>
    <%= content_for :header do %>
    <h1><%= @scholarship.name %></h1>
    <% end %>
  <% end %>
  <%= @scholarship.copy.html_safe %>
  <%= @scholarship.logged_in_copy.html_safe if user_signed_in? && !@scholarship.logged_in_copy.blank? %>
<% else %>

  <% content_for :body_class do %> class="scholarship-vote"<% end %>
  <%= content_for :header do %>
    <h1><%= @scholarship.voting_title %></h1>
  <% end %>
  <%= @scholarship.voting_copy.html_safe %>

  <% unless user_signed_in? %>
    <p>
      <%= link_to "Register to vote", new_user_registration_path, class: "button green" %>
      <%= link_to "Log in", new_user_session_path, class: "button green" %>
    </p>
  <% end %>

<% end %>

<% if !@scholarship.over? %>

  <% if @scholarship.require_authentication && !user_signed_in? %>
    <hr/>
    <p>
      Register for a FREE account to learn more about how to win!
    </p>
    <p>
      <%= link_to "Learn More!", new_user_registration_path, class: "button green" %>
      <%= link_to "Log in", new_user_session_path, class: "button green" %>
    </p>
  <% else %>

    <%= render 'scholarship_submissions/form', scholarship_submission: @scholarship_submission, scholarship: @scholarship %>
  <% end %>

<% elsif @scholarship.voting? %>
  
  <%= render 'scholarship_submissions/vote', scholarship: @scholarship %>

<% end %>

<% unless @page.one_column? %>
  <% content_for :aside do %>
    <%= render "shared/promos", promos: @promos %>
  <% end %>
<% end %>

<% content_for :toolbar do %>
  | <a href="<%= edit_admin_page_path(@page) %>">Edit this page</a> -
  <a href="<%= edit_admin_scholarship_path(@scholarship) %>">Edit this scholarship</a>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.custom-file', 'app/scholarships' %>
<% end %>
