
  <%= render 'shared/new_header' %>
    <% content_for :toolbar do %>
      | <%= link_to 'Edit this Page', edit_admin_site_setting_path(1) %>
    <% end %>
    <%if @alert_msg %>
      <% if @alert_msg == 'alert' %><p class="message alert"><%= 'It seems that the login password is not correct. You will receive an email with instructions about how to reset your password in a few minutes. Please reset the password and try logging in again.' %></p><% end %>
      <% if @alert_msg == 'notice' %><p class="message notice"><%= "Your password was changed successfully. You are now signed." %></p><% end %>
    <% else %>
      <% if notice %><p class="message notice"><%= notice %></p><% end %>
      <% if alert %><p class="message alert"><%= alert.html_safe %></p><% end %>
    <% end %>
  <!-- slider start -->
  <div id="slider" class="carousel slide slider" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @slides.each_with_index do |slider,index| %>
      <li data-target="#slider" class="<%='active' if index == 0 %>" data-slide-to="<%= index %>"></li>
      <% end %>
    </ol>
   
    <div class="carousel-inner">
      <% @slides.each_with_index do |slide,index| %>      
      <div class="item <%='active' if index == 0 %>">
        <% if !slide.image_uid.blank? %>
          <a href="<%= slide.url %>"><%= image_tag slide.image.thumb("1450x499#").url %></a>
        <% else %>
          <a href="#"><%= image_tag 'header_banner.jpg' %></a>
        <% end %>  
      </div>
      <% end %>      
    </div>
  </div>
  <!-- slider end  -->
  
  <div class="container-fluid" id="section-1">
    <div class="container">
      <div class="nnn">
        <div class="col-md-4 col-xs-12" id="explore-left">
         
          <%= image_tag 'Hey_NYC.png' %>
        </div>
        <div class="col-md-8 col-xs-12" id="explore-right">
          <h1>Hey NYC, start exploring resources for:</h1>
          <section class="quicklinks">
            <% @quicklinks.each do |quick_link| %>
              <a href="<%= quick_link.destination %>" class="quicklink"><%= quick_link.text %></a>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
 
  <div class="conatiner-fluid" id="section-2">
    <div class="container bubbles">
      <div class="row ">
        <div class="col-sm-8 col-xs-12" id="progleft">
          <div class="bubbles-title" >
            
            <%= image_tag 'location_icon.png', :class => "pull-left loc_img" %>
            <h2 class="pushup">Find local programs near you</h2>
            <p class="caption"><em>Choose a borough to get started!</em></p>
          </div>
        </div>
        <div class= "col-sm-4 col-xs-12" id="progright">
          <select class="localprogram pull-left">
            <option value='type=1'>All of NYC</option>
            <option value='bor=1&type=1'>Bronx</option>
            <option value='bor=2&type=1'>Brooklyn</option>
            <option value='bor=3&type=1'>Manhattan</option>
            <option value='bor=4&type=1'>Queens</option>
            <option value='bor=5&type=1'>Staten Island</option>
          </select>
          <a href="/search?&amp;type=1" id="search_link"><button type="button" class="btn btn-localprog pull-right">Go</button></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid " id="section-3">
    <div class="container">
      <section id="blocks" class="clearfix">
        <div>
          <% @promos.each do |promo| %>
            <a href="<%= promo.promo_instance.url %>" class="block new blue">
              <%#= link_to promo.promo_instance.link, class: "block new blue" %>
              <div class="block_img">
                <%= image_tag promo.promo_instance.image.url %> 
              </div>
              <div class="block_desc">
                <strong><%= promo.promo_instance.title %></strong><%= promo.promo_instance.copy.html_safe %>
              </div>
              <div class="learn_more">
                <p>Learn More <i class="fa fa-arrow-circle-o-right"></i></p>
              </div>
            </a>
          <% end %>
        </div>
      </section>
    </div>
  </div>
  
  

<%= render 'shared/new_footer' %>
<%= render 'shared/javascripts' %>
<%= yield :js %>
<%= render 'shared/toolbar' %>
<!-- Begin: www.iperceptions.com -->
<script type="text/javascript">
  ;(function (w, d, s, l) { var r = 100, js, fjs = d.getElementsByTagName(s)[0], id = "IPerceptionsJS", a = "async", b = "defer",go = function() { if(d.getElementById(id)) { return; } js = d.createElement(s);js.src = w.location.protocol + "//ips-invite.iperceptions.com/webValidator.aspx?sdfc=6493690c-120224-d5814988-e0a7-49aa-8f34-59f3d2c80751&lID=1&source=91787"; js.id = id; js.type = "text/javascript"; js[a] = a; js[b] = b; fjs.parentNode.insertBefore(js, fjs); }; if(r < Math.floor(Math.random() * 100)) { d.cookie = "IPE_S_120224=0;Path=/;" } else if(!(/(^|;)\s*IPE(_S_)?120224=/.test(d.cookie))){ if (w.addEventListener) { w.addEventListener(l, go, false); } else if (w.attachEvent) { w.attachEvent("on" + l, go); } } })(window, document, "script", "load");
</script>  