<% title "Survey Question" %>

<div class="controls">
  <%#= link_to "export", admin_events_path(format: 'csv'), class: 'button', title: 'export to csv' %>
  <%= link_to "add new", new_admin_survey_question_path, class: 'button', title: 'add new' %>
</div>

<div class="pagination-info">
  <%#= page_entries_info @survey_questions %>
</div>

<%= render 'shared/per_page' %>

<%= will_paginate @survey_questions, previous_label: '&lt; previous',
      next_label: 'next &gt;' %>

  <table class="index-list">
    <tr>
      <th style="width: 80%;"><%= sortable_header("Question title", "") %></th>
      <th></th>
    </tr>
    <% @survey_questions.each do |question| %>
      <tr<%= cycle(""," class='alt'") %>>
        <td><%= link_to question.question_title, edit_admin_survey_question_path(question) %></td>
        <td>
          <span class="actions">
            <%#= link_to 'show', survey_template_path(survey) %>
            <%= link_to 'edit', edit_admin_survey_question_path(question) %> |
            <%= link_to 'delete', confirm_destroy_admin_survey_question_path(question)%>
          </span>
        </td>
      </tr>
    <% end %> 
  </table>

  <%= will_paginate @survey_questions, previous_label: '&lt; previous',
    next_label: 'next &gt;' %>
