<% title "Organizations" %>

<div class="controls">
  <%= link_to "add new", new_admin_organization_path, class: 'button', title: 'add new' %>
</div>

<div class="pagination-info">
  <%= page_entries_info @organizations %>
</div>

<%= render 'shared/per_page' %>

<%= will_paginate @organizations, previous_label: '&lt; previous',
      next_label: 'next &gt;' %>

<table class="index-list">
  <tr>
    <th>Name</th><th>Type</th><th></th>
  </tr>
  <% @organizations.each do |organization| %>
  <tr<%= cycle(""," class='alt'") %>>
  <td><%= link_to organization.name, edit_admin_organization_path(organization) %></td>
  <td><%= organization.type_s %></td>
  <td>
    <span class="actions">
    <%= link_to 'edit', edit_admin_organization_path(organization) %> |
    <%= link_to 'delete', confirm_destroy_admin_organization_path(organization) %></span>
  </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @organizations, previous_label: '&lt; previous',
    next_label: 'next &gt;' %>
