<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= render 'shared/head' %>
    <%= yield :more_head %>
  </head>
  <body>
    <div id="newlayout">
      <%= render 'shared/new_header' %>
      <%if @alert_msg %>
        <% if @alert_msg == 'alert' %><p class="message alert"><%= 'It seems that the login password is not correct. You will receive an email with instructions about how to reset your password in a few minutes. Please reset the password and try logging in again.' %></p><% end %>
        <% if @alert_msg == 'notice' %><p class="message notice"><%= "Your password was changed successfully. You are now signed." %></p><% end %>
      <% else %>
        <% if notice %><p class="message notice"><%= notice %></p><% end %>
        <% if alert %><p class="message alert"><%= alert.html_safe %></p><% end %>
      <% end %>
      <%= render 'profile/shared/profile' %>
   
      <div class="container-fluid clearfix">
        <div class="container">
          <div class="row">
            <div class="listing-tab">
              <%= render 'profile/shared/nav' %>
              <div class="tab-content">
                <%= yield %>
              </div>
            </div> 
            
          </div>
        </div>   
      </div>
    </div>  
    <!-- layout end -->
    <%= render 'shared/new_footer' %>
    <%= render 'shared/javascripts' %>
    <%= yield :js %>
    <%= render 'shared/toolbar' %>
   <!-- Begin: www.iperceptions.com -->
    <script type="text/javascript">
      ;(function (w, d, s, l) { var r = 100, js, fjs = d.getElementsByTagName(s)[0], id = "IPerceptionsJS", a = "async", b = "defer",go = function() { if(d.getElementById(id)) { return; } js = d.createElement(s);js.src = w.location.protocol + "//ips-invite.iperceptions.com/webValidator.aspx?sdfc=6493690c-120224-d5814988-e0a7-49aa-8f34-59f3d2c80751&lID=1&source=91787"; js.id = id; js.type = "text/javascript"; js[a] = a; js[b] = b; fjs.parentNode.insertBefore(js, fjs); }; if(r < Math.floor(Math.random() * 100)) { d.cookie = "IPE_S_120224=0;Path=/;" } else if(!(/(^|;)\s*IPE(_S_)?120224=/.test(d.cookie))){ if (w.addEventListener) { w.addEventListener(l, go, false); } else if (w.attachEvent) { w.attachEvent("on" + l, go); } } })(window, document, "script", "load");
    </script>

   <!-- End: www.iperceptions.com -->
  </body>
</html>        